<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>title</key>
    <string>BadgeForge</string>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key><string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key><string>PSSwitchCell</string>
            <key>label</key><string>Enabled</string>
            <key>defaults</key><string>com.joemama383.badgeforge</string>
            <key>key</key><string>tweakEnabled</string>
            <key>default</key><true/>
            <key>PostNotification</key><string>com.joemama383.badgeforge.settingschanged</string>
        </dict>

        <dict>
            <key>cell</key><string>PSGroupCell</string>
            <key>label</key><string>BADGE BACKGROUND</string>
        </dict>
        <dict>
            <key>cell</key><string>PSSegmentCell</string>
            <key>defaults</key><string>com.joemama383.badgeforge</string>
            <key>key</key><string>badgeColorType</string>
            <key>default</key><integer>0</integer>
            <key>validValues</key><array><integer>0</integer><integer>1</integer></array>
            <key>validTitles</key><array><string>Adaptive</string><string>Static</string></array>
            <key>PostNotification</key><string>com.joemama383.badgeforge.settingschanged</string>
        </dict>
        <dict>
            <key>cell</key><string>PSLinkCell</string>
            <key>label</key><string>Static Badge Color</string>
            <key>cellClass</key><string>PFSimpleLiteColorCell</string>
            <key>libcolorpicker</key>
            <dict>
                <key>fallback</key><string>#FF0000</string>
                <key>key</key><string>badgeColor</string>
                <key>defaults</key><string>com.joemama383.badgeforge</string>
                <key>PostNotification</key><string>com.joemama383.badgeforge.settingschanged</string>
            </dict>
        </dict>

        <dict>
            <key>cell</key><string>PSGroupCell</string>
            <key>label</key><string>TEXT COLOR</string>
        </dict>
        <dict>
            <key>cell</key><string>PSSegmentCell</string>
            <key>defaults</key><string>com.joemama383.badgeforge</string>
            <key>key</key><string>textColorType</string>
            <key>default</key><integer>1</integer>
            <key>validValues</key><array><integer>0</integer><integer>1</integer></array>
            <key>validTitles</key><array><string>Adaptive</string><string>Static</string></array>
            <key>PostNotification</key><string>com.joemama383.badgeforge.settingschanged</string>
        </dict>
        <dict>
            <key>cell</key><string>PSLinkCell</string>
            <key>label</key><string>Static Text Color</string>
            <key>cellClass</key><string>PFSimpleLiteColorCell</string>
            <key>libcolorpicker</key>
            <dict>
                <key>fallback</key><string>#FFFFFF</string>
                <key>key</key><string>textColor</string>
                <key>defaults</key><string>com.joemama383.badgeforge</string>
                <key>PostNotification</key><string>com.joemama383.badgeforge.settingschanged</string>
            </dict>
        </dict>

        <dict>
            <key>cell</key><string>PSGroupCell</string>
            <key>label</key><string>BORDER</string>
        </dict>
        <dict>
            <key>cell</key><string>PSSwitchCell</string>
            <key>label</key><string>Enabled</string>
            <key>defaults</key><string>com.joemama383.badgeforge</string>
            <key>key</key><string>borderEnabled</string>
            <key>default</key><true/>
            <key>PostNotification</key><string>com.joemama383.badgeforge.settingschanged</string>
        </dict>
        <dict>
            <key>cell</key><string>PSEditTextCell</string>
            <key>label</key><string>Border Width</string>
            <key>defaults</key><string>com.joemama383.badgeforge</string>
            <key>key</key><string>borderWidth</string>
            <key>default</key><string>1.0</string>
            <key>isIP</key><true/>
            <key>PostNotification</key><string>com.joemama383.badgeforge.settingschanged</string>
        </dict>
        <dict>
            <key>cell</key><string>PSSegmentCell</string>
            <key>defaults</key><string>com.joemama383.badgeforge</string>
            <key>key</key><string>borderColorType</string>
            <key>default</key><integer>2</integer>
            <key>validValues</key><array><integer>0</integer><integer>1</integer><integer>2</integer></array>
            <key>validTitles</key><array><string>Adaptive</string><string>Match Text Color</string><string>Static</string></array>
            <key>PostNotification</key><string>com.joemama383.badgeforge.settingschanged</string>
        </dict>
        <dict>
            <key>cell</key><string>PSLinkCell</string>
            <key>label</key><string>Static Border Color</string>
            <key>cellClass</key><string>PFSimpleLiteColorCell</string>
            <key>libcolorpicker</key>
            <dict>
                <key>fallback</key><string>#FFFFFF</string>
                <key>key</key><string>borderColor</string>
                <key>defaults</key><string>com.joemama383.badgeforge</string>
                <key>PostNotification</key><string>com.joemama383.badgeforge.settingschanged</string>
            </dict>
        </dict>

        <dict>
            <key>cell</key><string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key><string>PSButtonCell</string>
            <key>label</key><string>Respring!</string>
            <key>action</key><string>respring</string>
        </dict>

        <dict>
            <key>cell</key><string>PSGroupCell</string>
            <key>footerAlignment</key><integer>1</integer>
            <key>footerText</key><string>BadgeForge 1.0.6 • iOS 17 rootless</string>
        </dict>
    </array>
</dict>
</plist>
